* {
    outline: 0px dotted white;
    box-sizing: border-box;
    font-family: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
}

.container {
    max-width: 1200px;

    margin: auto;
}

/* header style */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    position: relative;
}

.logo {
    width: 100px;
    height: 100px
}

.top-left-corner-decal {
    width: 0;
    height: 0;
    border-top: 20px solid red;
    border-right: 20px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

.bottom-right-corner-decal {
    width: 0;
    height: 0;
    border-bottom: 20px solid red;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

h1 {
    color: red;
    font-size: 3em;
    font-style: italic;

}

h2 {
    color: red;
    border-bottom: 2px solid red;
}

h3 {
    color: red;
    border-bottom: 2px solid red;
}


/* Navigation */

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#left-links {
    background: transparent;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.nav-button {
    margin: 0px;
    padding: 0px;
    line-height: 60px;
    padding: 0px 20px;
    color: red;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.nav-button:hover {
    background: rgb(70, 70, 70);
    transition: 1s;
    border-bottom: 2px solid red;
    text-decoration: underline;
}

#right-links {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-icon {
    background: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px dotted transparent;
}

.nav-icon:hover {
    background: rgb(121, 121, 121);
    transition: 1s;
}

.social-button {
    width: 100%;
    height: 100%;
}

/* Welcome */

#intro {
    text-align: center;


}

#intro p {
    width: 80%;
    color: rgb(148, 132, 132);
    margin: auto auto 25px auto;

}

/* Main */

main {
    display: flex;
    flex-wrap: wrap;
}

.dance-box {
    width: 33%;
    padding: 20px;
    flex-grow: 1;
}

.dance-box-image {
    width: 100%;
    box-shadow: 1px 1px 1px grey;
}

/* Footer */

footer {
    height: 80px;
    text-align: center;
    background: linear-gradient(45deg,
            rgb(50, 50, 50) 0%,
            rgb(122, 122, 122) 100%);
}

address {
    line-height: 50px;
    margin: 0px;
}

.email-address {
    line-height: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

.email-address::before {
    content: "Email: ";
}

/* Bootstrap-like background colour styling rules */

.gradient1 {
    background: linear-gradient(to right,
            rgb(0, 0, 0) 0%,
            rgb(107, 107, 107) 100%);
}

.gradient2 {
    background: linear-gradient(135deg,
            rgb(36, 36, 36) 0%,
            rgb(107, 107, 107) 100%);
}

.gradient3 {
    background: linear-gradient(to right,
            rgb(77, 77, 77) 0%,
            rgb(122, 122, 122) 100%);
}

.gradient4 {
    background: linear-gradient(45deg,
            rgb(50, 50, 50) 0%,
            rgb(122, 122, 122) 100%);
}

/* Responsive */

@media (max-width: 992px) {
    .dance-box {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .dance-box {
        width: 100%;
    }
}

/* form */

main * {
    outline: 0px dotted black;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 20px 0px;
}

input {
    height: 2em;
    width: 50%;
    padding: 0px 10px;

}




#messagebox {
    width: 90%;
    height: 200px;
    padding: 5px 10px;
}



button {
    align-self: center;
}